* text=auto eol=lf

*.swift   text eol=lf
*.ts      text eol=lf
*.json    text eol=lf
*.yml     text eol=lf
*.yaml    text eol=lf
*.toml    text eol=lf
*.md      text eol=lf
*.plist   text eol=lf
*.entitlements text eol=lf